*{
    margin: 0;
    padding:0;
}
.navbar-home {
    background: rgba(139, 2, 2,0.7);
} 
.navbar-brand {
    height: 75px;
    width: 150px;
    font-size: 1.25rem; 
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 1rem;  
    line-height: inherit;
    white-space: nowrap;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: bold;
}
.nav-link{
   
    font-weight: bold;
    color: rgba(156, 6, 6, 0.897);
}
.nav-link:hover{
    border:rgba(156, 6, 6, 0.897); 
    color:rgba(156, 6, 6, 0.897); ;
}
.h3{
    margin-top:3rem;
    margin-bottom: 3rem;
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    color: #0062cc;
}
.btn-success {
    color: #fff;
    background-color: #0062cc;
    border-color: #0062cc;
}

.btn, .btn-primary{
     
    margin-bottom: 3rem; 
    margin-left: 5px;
    padding: 10px;
}

.jumbotron {
    background: rgba(139, 2, 2,0.7);
    background-size: cover;
    height: 90%;
    display: grid;
    place-items: center;
    color: white;
    font-weight: bold;
}

footer { 
    background-color:#360207;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0!important;
    
    }

footer p{
    color: white;
    margin-top: 10px;
    margin-bottom: 1rem;
}
  footer li{
    list-style-type:none;
    margin: 10px 15px;
    color: blue;
    
}