*{
  margin: 0;
  padding:0;
}

.navbar-brand {
  height:80px ;
  width: 150px;
  padding-top: 20px;
  display: flex;
  line-height: inherit;
}

.home-image{
  position: relative;
  background: rgba(139, 2, 2,0.7);
  background-blend-mode: darken; 
  
 }
 .kawo-text{
   margin-top:10%;
  text-align:center;
  color:white;
  font-weight: bold;

 }
 /* .home-image .overlay {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(255, 0, 0, 0.5);
}  */

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: bold;
}
.nav-link{
 
  font-weight: bold;
  color: rgba(156, 6, 6, 0.897);
  
}
.nav-link:hover{
  border:rgba(156, 6, 6, 0.897); 
  color:rgba(156, 6, 6, 0.897); ;
}
.h3{
  margin-top:3rem;
  margin-bottom: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  color: #0062cc;
}
.btn-success {
  color: #fff;
  background-color: #0062cc;
  border-color: #0062cc;
}

.btn, .btn-primary{
   
  margin-bottom: 3rem; 
  margin-left: 5px;
  padding: 10px;
}

footer { 
  background-color:#360207;
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0!important;
  
  }

footer p{
  color: white;
  margin-top: 10px;
  margin-bottom: 1rem;
}
footer li{
  list-style-type:none;
  margin: 10px 15px;
  color: blue;
  
}

.navigate{
  width:90%;
  margin:0px auto;
}